# Please try and keep this file organized by alphabetical order. Single files first, then directories.
/code/.env
/code/config/lfm.php
/code/nbproject/*
/code/app/FaveoJob
/code/vendor/phpunit/phpunit/src/Util/PHP/eval-stdin.php
/code/storage/app/attachments
/code/storage/app/geoip.mmdb
